<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 400 15px Lato, sans-serif;
            line-height: 1.8;
            color: #818181;
        }
        h2 {
            font-size: 24px;
            text-transform: uppercase;
            color: #303030;
            font-weight: 600;
            margin-bottom: 30px;
        }
        h4 {
            font-size: 19px;
            line-height: 1.375em;
            color: #303030;
            font-weight: 400;
            margin-bottom: 30px;
        }
        .jumbotron {
            background-color: #f4511e;
            color: #fff;
            padding: 100px 25px;
            font-family: Montserrat, sans-serif;
        }
        .container-fluid {
            padding: 60px 50px;
        }
        .bg-grey {
            background-color: #f6f6f6;
        }
        .logo-small {
            color: #f4511e;
            font-size: 50px;
        }
        .logo {
            color: #f4511e;
            font-size: 200px;
        }
        .customTable th { text-align: center; background-color: #f5f5f5; color: #303030 }
    </style>
</head>
<body>
<div class="container-fluid" style="padding:0">
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <!-- Brand -->
                <a class="navbar-brand" href="/">관리자 페이지</a>

                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding:0">
    <div class="row" style="max-width:1080px; margin: 0 auto;">
        <div class="col-sm-12">
            <h5 class="mt-2">패키지상품 등록</h5>
            <form action="/packageProduct/savePackageProduct" method="post">
                <table class="table customTable">
                    <tr>
                        <th>패키지명</th>
                        <td><input type="text" class="form-control tradeInfo" name="name"></td>
                        <th>가격</th>
                        <td><input type="number" step="any" class="form-control tradeInfo" name="price"></td>
                    </tr>
                    <tr>
                        <th>할인율</th>
                        <td><input type="number" step="any" class="form-control tradeInfo" name="rateDiscount"></td>
                        <th>기준용량</th>
                        <td><input type="number" step="any" class="form-control tradeInfo" name="kw"></td>
                    </tr>
                    <tr>
                        <th>모듈 제조사</th>
                        <td>
                            <select class="form form-control" name="moduleManufacturer" id="selectModuleManufacturer">
                                <option value=""></option>
                            </select>
                        <th>모듈명</th>
                        <td><input type="text" readonly class="form-control tradeInfo" name="moduleProductName" id="moduleProductName"></td>
                    </tr>
                    <tr>
                        <th>인버터 제조사</th>
                        <td>
                            <select class="form form-control" name="inverterManufacturer" id="selectInverterManufacturer">
                                <option value=""></option>
                            </select>
                        </td>
                        <th>인버터 명</th>
                        <td>
                            <input type="text" readonly class="form-control" name="inverterProductName" id="selectInverterProductName">
                        </td>
                    </tr>
                </table>
                <!--모듈 로고 이미지 url-->
                <input type="hidden" name="moduleImageUrl" id="moduleImageUrl">
                <!--인버터 로고 이미지 url-->
                <input type="hidden" name="inverterImageUrl" id="inverterImageUrl">
                <div style="text-align: right">
                    <button type="submit" class="btn btn-info">상품등록</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>



    $(document).ready(function(){

        // 인버터 리스트
        let inverterList = [];

        // 모듈 리스트
        let moduleList = [];

        $.ajax({
            url : '/module/searchInverter',
            success : function(data){
                if(data.length > 0){
                    // 인버터 리스트
                    inverterList = [...data];
                    let inverterTag = '<option value="">선택</option>';
                    data.forEach((v) => {
                        inverterTag += `<option value=${v.id}>${v.manufacturer}(${v.outputCapacity})</option>`;
                    });
                    $('#selectInverterManufacturer').html(inverterTag);
                }else{
                    $('#selectInverterManufacturer').html('<option value=""></option>');
                }
            }
        });

        // 인버터명 수정 작업 진행시
        $('#selectInverterManufacturer').on('change', function(){
            const selectedValue = inverterList.filter((v) => v.id === Number($(this).val()));
            if(selectedValue.length > 0){
                // input value
                $('#selectInverterProductName').val(selectedValue[0].productName);
                console.log(selectedValue[0].productName);
                debugger;

                // 히든으로 이미지 url 값 맞춰줘야함.
                if(selectedValue[0].manufacturer === '현대중공업그린에너지'){
                    $('#inverterImageUrl').val('/images/invertor/hyunda.png');
                }else if(selectedValue[0].manufacturer === '효성중공업'){
                    $('#inverterImageUrl').val('/images/invertor/hyosung.jpg');
                }else if(selectedValue[0].manufacturer === '금비전자'){
                    $('#inverterImageUrl').val('/images/invertor/kumbi.png');
                }else if(selectedValue[0].manufacturer === '다쓰테크'){
                    $('#inverterImageUrl').val('/images/invertor/das.jpg');
                }else if(selectedValue[0].manufacturer === '동양이엔피') {
                    $('#inverterImageUrl').val('/images/invertor/dongyang.gif');
                }else if(selectedValue[0].manufacturer === '썬그로우') {
                    $('#inverterImageUrl').val('/images/invertor/sungrow.jpeg');
                }else if(selectedValue[0].manufacturer === '신성') {
                    $('#inverterImageUrl').val('/images/invertor/sinsung.png');
                }else if(selectedValue[0].manufacturer === '카코') {
                    $('#inverterImageUrl').val('/images/invertor/kako.jpg');
                }else if(selectedValue[0].manufacturer === '델타') {
                    $('#inverterImageUrl').val('/images/invertor/Delta.jpg');
                }
            }else{
                alert('에러 발생');
                $('#selectInverterProductName').val('');
            }
        });

        $.ajax({
            url :  '/module/findByModuleGroup',
            success : function(data){
                console.log("======= 모듈 -----");
                console.log(data);
                if(data.length > 0){
                    moduleList = [...data];
                    let moduleTag = '<option value="">선택</option>';
                    data.forEach((v) => {
                        moduleTag += `<option value=${v.id}>${v.manufacturer}(${v.moduleKind})</option>`;
                    });
                    $('#selectModuleManufacturer').html(moduleTag);
                }else{
                    $('#selectModuleManufacturer').html('<option value=""></option>');
                }
            }
        });

        $('#selectModuleManufacturer').on('change',function(){
            const selectedValue = moduleList.filter((v) => v.id === Number($(this).val()));

            console.log(selectedValue);
            debugger;
            if(selectedValue.length > 0){

                // input value
                $('#moduleProductName').val(selectedValue[0].productName);

                // 히든으로 이미지 url 값 맞춰줘야함.
                if(selectedValue[0].manufacturer === 'LG전자'){
                    $('#moduleImageUrl').val('/images/module/lg.jpg');
                }else if(selectedValue[0].manufacturer === '한솔테크닉스'){
                    $('#moduleImageUrl').val('/images/module/hansol.png');
                }else if(selectedValue[0].manufacturer === '한화큐셀'){
                    $('#moduleImageUrl').val('/images/module/hanwha.png');
                }else if(selectedValue[0].manufacturer === '현대에너지솔루션'){
                    $('#moduleImageUrl').val('/images/module/hyundae.jpeg');
                }
            }else{
                alert('에러 발생');
                $('#moduleImageUrl').val('');
            }
        });

    });

</script>



</body>
</html>